# Exclude IDE and Editor files
/.idea/
*.sublime*

# Rust
processor/supply_chain_rust/bin/
processor/supply_chain_rust/target/
processor/supply_chain_rust/src/messages/

# Node
**/node_modules
**/package-lock.json
**/npm-debug.log

# Webpack
**/dist

/processor/**/__pycache__/
/processor/supply_chain_processor/protobuf
tests/sawtooth_sc_test/protobuf/

/server/config.json
**/generated_protos.json

/docs/build/
/docs/source/_autogen/
/docs/source/cli/output/
