# Exclude IDE and Editor files
/.idea/
*.sublime*

# Node
**/node_modules
**/package-lock.json

# Webpack
**/dist

/processor/**/__pycache__/
/processor/supply_chain_processor/protobuf
/asset_client/src/protos.json
/fish_client/src/protos.json
/server/rethinkdb_data
/server/fish.batch

/docs/build/
/docs/source/_autogen/
/docs/source/cli/output/
